$backgroundMain: #0D9240;
$borderColorMain: #e6b205;
$textColorMain: #E9B401;
$marginBottom: 10px;
$widthFormTop: 441px;

@mixin transitionFun {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

@mixin centerEx {
    display:-moz-box;
    display:-webkit-box;
    -moz-box-align:center;
    -moz-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-pack:center
}

.scrollCustiom::-webkit-scrollbar-corner {
    display: none;
    height: 0px;
    width: 0px;
}

.scrollCustiom::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    height: 6px;
    height: 10px;
    border-radius: 35px;
}

.scrollCustiom::-webkit-scrollbar-thumb {
    background-color: #1ac6ff;
    border-radius: 8px;
}

.scrollCustiom::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

a:hover, a:focus {
    color: #E9B401 !important;
    text-decoration: underline !important;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

.breadcrumb {
    padding: 0.35rem 1rem;
    font-size: 12px;
}

.content-page {
    
}

.box-order-room-hidden{
    width: 0px !important;
    opacity: 0;
    height: 0px !important;
}

.box-order-room-show{
    width: 100% !important;
    opacity: 1;
    height: auto !important;
}

.main-header {
    .header-top{
        display: flex;
        justify-content: space-between;
        padding-top: 6px;
        padding-bottom: 6px;
        background: #1b556f;
        box-shadow: 1px 2px 20px 1px #fff;
        z-index: 90000;
        position: relative;
        .header-logo{
            padding-left: 15px;
            a{
                img{
                    width: auto;
                    height: 46px;
                }
            }
        }
        .header-menu-main{
            ul{
                margin: 0px;
                padding: 0px;
                height: 100%;
                display: flex;
                li{
                    list-style: none;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    a{
                        padding: 0px 15px;
                        font-size: 15px;
                        position: relative;
                        color: #fff;
                        font-weight: bold;
                    }
                    a:after{
                        position: absolute;
                        content: " ";
                        right: 0px;
                        top: 6px;
                        height: 12px;
                        width: 1px;
                        background: $textColorMain
                    }
                }
                li:last-child{
                    a:after{
                        display: none;
                    }
                }
            }
        }
    }
}

.main-content {
    .box-content-submit{
        padding: 30px 0px;
        background: url('../images/bg-top.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        padding: 2rem 1rem;
        color: white;
        text-align: center;
        .image-top{
            text-align: center;
            margin-bottom: 40px;
            img{
                height: 75px;
            }
        }
        .title-here{
            .title{
                font-size: 3rem;
                margin-bottom: 10px;
                font-weight: bold;
                line-height: 55px;
            }
        }
        .description{
            margin-bottom: 2rem;
            opacity: 0.7;
            font-size: 1.25rem;
            line-height: 1.3;
            p{

            }
        }
        .content-top{
            display: flex;
            .left{
                width: 60%;
                .form-booking-operator{
                    display: flex;
                    background: #ffffff;
                    border-radius: 4px;
                    padding: 32px;
                    padding-bottom: 24px;
                    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
                    .form-contant{
                        color: #000;
                        width: 70%;
                        padding-right: 15px;
                        border-right: 1px solid #cccccc6e;
                        .title{
                            color: #e6b205;
                            font-size: 26px;
                            font-weight: bold;
                            line-height: 40px;
                        }
                        .form-group{
                            text-align: left;
                            margin-bottom: 10px;
                            input{
                                width: 100%;
                            }
                            select{
                                width: 100%;
                            }
                            label{
                                margin-bottom: 5px;
                                font-weight: bold;
                            }
                        }
                        button{
                            background: #e6b205;
                        }
                        .box-order-room{
                            display: flex;
                            flex-wrap: wrap;
                            .box-order-info-room{
                                width: 99%;
                            }
                            .box-order-user-room{
                                @include transitionFun;
                            }
                            .cpn-order-room{
                                @include transitionFun;
                            }
                        }
                    }
                    .form-right-contant{
                        width: 30%;
                        padding-left: 15px;
                        color: #000;
                        .image-show-room{
                            padding: 5px;
                            background: #fff;
                            border: 1px solid #cacfd1;
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            border-radius: 4px;
                            -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,.05);
                            -moz-box-shadow: 0 3px 0 0 rgba(0,0,0,.05);
                            box-shadow: 0 3px 0 0 rgba(0,0,0,.05);
                            .image{
                                margin-bottom: 5px;
                                width: 100%;
                                img{
                                    width: 100%;
                                }
                            }
                            .title{

                            }
                        }
                        .need-show-room{
                            text-align: center;
                            margin-top: 10px;
                            background: #e6f0f5;
                            border: 1px solid #d3e0e7;
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            border-radius: 4px;
                            padding: 12px 20px;
                            .title{
                                color: #2677b6;
                                font-weight: 700;
                                font-size: 15px;
                                margin: 10px 0px;
                            }
                            .description{
                                margin: 0 0 10px;
                                font-size: 14px;
                                p{

                                }
                            }
                            .go-sent-contact{
                                color: #fff;
                                font-size: 13px;
                                background: #f88f01;
                                padding: 8px 18px;
                                margin-top: 10px;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                border-radius: 4px;
                                display: inline-block;
                                text-decoration: none;
                                font-weight: 700;
                            }
                        }
                    }
                }
                .info{
                    width: 100%;
                    padding-top: 15px;
                    ul{
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        text-align: left;
                        li{
                            width: 50%;
                            text-align: center;
                            label{
                                position: relative;
                                padding-left: 25px;
                            }
                            label:after{
                                content: "\f00c";
                                position: absolute;
                                top: 5px;
                                left: 0px;
                                font: normal normal normal 14px/1 FontAwesome;
                            }
                        }
                    }
                }
            }
            .right{
                width: 30%;
            }
        }
    }
    .box-partner{
        background-color: #f9f9f9;
        padding-top: 2rem;
        padding-bottom: 1rem;
        .title{
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 1rem;
            color: gray;
            font-size: 0.8125rem;
            line-height: 1.6;
        }
        .list-partner{
            ul{
                margin: 0px;
                padding: 0px;
                list-style: none;
                display: flex;
                li{
                    padding: 0 2%;
                    margin-bottom: 1rem;
                    a{
                        width: 100%;
                        display: inline-block;
                        height: 100%;
                        @include centerEx;
                    }
                    img{
                        width: 100%;
                        opacity: 0.7;
                        height: auto;
                    }
                }
            }
        }
    }
    .box-option-maintant{
        padding-top: 30px;
        padding-bottom: 30px;
        .detail-want{
            .image{
                height: 167px;
                width: 100%;
                background: url('../images/rap-hat.jpg');
                background-size: cover;
                background-position: center center;
            }
            .info{
                padding: 1em 1em 0.5em;
                border: 1px solid $borderColorMain;
                border-top: 0;
                color: #333;
                border-radius: 0 0 3px 3px;
                border-top: none;
                .title{
                    font-size: 1.4375rem;
                    margin-bottom: 0.5rem;
                    margin-top: 0.2rem;
                    font-weight: bold;
                }
                .description{
                    color: #666666;
                    p{

                    }
                }
            }
        }
    }
    .box-suggestions{
        padding-top: 30px;
        padding-bottom: 30px;
        .first-address{
            text-align: center;
            .title{
                font-size: 2.3125rem;
                font-weight: bold;
                margin-top: 0.2rem;
                margin-bottom: 15px;
            }
            .description{
                font-size: 16px;
                margin-bottom: 0.5rem;
                margin-top: 0.2rem;
                font-weight: bold;
            }
            .summary{
                font-size: 0.8125rem;
                font-weight: normal;
                margin-bottom: 25px;
            }
            .folow-position{
                a{
                    color: #FFFFFF;
                    background-color: $borderColorMain;
                    outline: none;
                    border-radius: 3px;
                    transition: none;
                    font-weight: bold;
                    line-height: normal;
                    margin: 0 0 1.25rem;
                    position: relative;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    padding: 0.75rem 1.5rem 0.8125rem 1.5rem;
                    font-size: 0.8125rem;
                }
                a:hover{
                    color: #fff !important;
                }
            }
        }
    }
    .box-order-position{
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #579db9;
        color: #fff;
        .title{
            font-size: 1.25rem;
            margin-top: 0;
            margin-bottom: 1.40625rem;
            font-weight: bold;
        }
        .search-top{
            .title-search{
                margin-bottom: 5px;
            }
            .search-list{
                width: 70%;
                ul{
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    li{
                        display: inline-block;
                        width: 25%;
                        label{
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .description-here{
            .title-description{
                margin-bottom: 5px;
                b{
                    font-weight: bold;
                }
            }
            .description{
                opacity: 0.8;
                p{

                }
            }
        }
    }
}

.main-footer {
    background: #083e54;
    border-top: 2px solid #eab403;
    color: white;
    padding: 2.375rem 0;
    .footer-maintant{
        color: white;
        display: flex;
        .footer-list{
            width: 50%;
            .title{

            }
        }
        .footer-info{
            img{
                width: 70%;
                height: auto;
                margin-bottom: 5px;
            }
            .description{
                width: 70%;
                text-align: justify;
                p{

                }
            }
        }
        .footer-menu{
            .title{
                margin-bottom: 5px;
                font-weight: bold;
            }
            ul{
                list-style: none;
                margin: 0px;
                padding: 0px;
                li{
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 20000px) and (min-width: 1100px){
    
}

@media only screen and (max-width: 1180px) {
    .main-content{
        .box-content-submit{
            .content-top{
                justify-content: center;
                .left{
                    width: 80%;
                }
                .right{
                    width: 1px;
                }
            }
        }
    }
    .main-content{
        .box-suggestions{
            .first-address{
                .title{
                    line-height: 40px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 1000px) {
    
}
 
@media only screen and (max-width: 980px) {
    
}

@media only screen and (max-width: 992px){
    
}

@media only screen and (max-width: 880px) {
    
}
 
@media only screen and (max-width: 800px) {
    
}
 
@media only screen and (max-width: 780px) {
    .main-content{
        .box-content-submit{
            .content-top{
                justify-content: center;
                .left{
                    width: 100%;
                }
                .right{
                    width: 1px;
                }
            }
        }
    }
}
 
/*Ipad dọc(768 x 1024)*/
@media only screen and (max-width: 768px) {
    .main-content .box-content-submit .content-top .left .form-booking-operator .form-contant .form-group{
        input{
            margin-bottom: 5px;
        }
        select{
            margin-bottom: 5px;
        }
    }
    .main-content .box-option-maintant .detail-want{
        margin-bottom: 15px;
    }
}
    
 
@media only screen and (max-width: 720px) {
    
}

@media only screen and (max-width: 668px) {
    
}
 
@media only screen and (max-width: 640px) {
    
}
 
@media only screen and (max-width: 600px) {
    
}
 
@media only screen and (max-width: 568px) {
    .main-content .box-content-submit .content-top .left .form-booking-operator .form-contant{
        width: 100%;
        padding-right: 0px;
        border-right: none;
        margin-bottom: 15px;
    }
    .main-content .box-content-submit .content-top .left .form-booking-operator .form-right-contant{
        width: 100%;
        padding-left: 0px;
    }
    .main-content .box-content-submit .content-top .left .form-booking-operator{
        flex-wrap: wrap;
    }
    .main-content .box-order-position .search-top .search-list{
        width: 100%;
    }
    .main-content .box-order-position .search-top .search-list ul li{
        width: auto;
        padding-right: 20px;
    }
    .main-footer .footer-maintant{
        flex-wrap: wrap;
    }
    .main-footer .footer-maintant .footer-list{
        width: 100%;
        margin-bottom: 15px;
    }
    .main-content .box-content-submit .title-here .title{
        font-size: 30px;
        line-height: 40px;
    }
    .main-content .box-content-submit .description{
        font-size: 20px;
    }
    .main-content .box-content-submit .content-top .left .form-booking-operator{
        padding: 15px;
    }
}
 
@media only screen and (max-width: 563px) {

}
 
@media only screen and (max-width: 549px) {
 
}
 
@media only screen and (max-width: 534px) {
    
}

/*Tablet nhỏ(480 x 640)*/
@media only screen and (max-width: 480px) {
    .main-header .header-top .header-menu-main{
        display: none;
    }
}

/*Iphone(480 x 640)*/
@media only screen and (max-width: 435px) {
    
}

/*Iphone(480 x 640)*/
@media only screen and (max-width: 411px) {
    
}

/*Iphone6(480 x 640)*/
@media only screen and (max-width: 375px) {
    
}
    

@media only screen and (max-width: 360px) {
    
}
 
@media only screen and (max-width: 338px) {
    
}
 
@media only screen and (max-width: 330px) {

}

/*Smart phone nhỏ iphone5*/
@media only screen and (max-width: 320px) {
    
}

@media only screen and (max-width: 306px) {
    
}

/*Smart phone nhỏ*/
@media only screen and (max-width: 240px) {
    
}
